@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
h1{
	font-size:5rem;
	color:transparent;
	margin:20px;
	font-weight:700;
	text-transform: uppercase;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0.5041667008600315) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 71%, rgba(255,255,255,0.6853991938572304) 100%);
	-webkit-background-clip: text;
}
body{
	background:black;
	color:white;
	display:flex;
	justify-content:start;
	width:100%;
	height:100vh;
	overflow: hidden;
}
p{
	margin:20px;
	color:gray;
}
.name-holder{
	display:flex;
	flex-direction:column;
	justify-content: center;
	gap: 30px;
	width:50%;
	height:100vh;
}
*{
	margin:0;
	padding:0;
	font-family: 'Syne', sans-serif;
}
.cross-back{
	width:50%;
	clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
	background-color:#ff99a3;
background-image:
radial-gradient(at 73% 1%, hsla(233,84%,68%,1) 0px, transparent 50%),
radial-gradient(at 54% 8%, hsla(273,86%,74%,1) 0px, transparent 50%),
radial-gradient(at 39% 32%, hsla(154,84%,71%,1) 0px, transparent 50%),
radial-gradient(at 97% 71%, hsla(26,61%,73%,1) 0px, transparent 50%),
radial-gradient(at 34% 80%, hsla(138,76%,62%,1) 0px, transparent 50%),
radial-gradient(at 38% 23%, hsla(270,95%,61%,1) 0px, transparent 50%),
radial-gradient(at 56% 11%, hsla(139,76%,60%,1) 0px, transparent 50%);
	z-index:-1;
}
@media only screen and (max-width: 1200px) {
  .name {
    font-size:2rem;
    position:absolute;
    width:99vw;
    text-align:center;
    mix-blend-mode: difference;
  }
  h1{
  font-size:4rem;
}
  p {
  font-size:0.8rem;
  color: white; 
}
}
